@charset "utf-8";
$pc: 1440px; // PC
$tab: 680px; // タブレット
$sp: 375px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}



section {
  @include pc {
    padding-top: 50px;  
    
  };
  @include tab {
    
  };
  @include sp {

  };
}

.w1440 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.w1280 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.cmn-ttl {
  @include pc {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: Cinzel, serif;  
    &::first-letter {
      font-size: 60px;
    };
    
  };
  @include tab {
    
  };
  @include sp {
    margin-bottom: 40px;
    &::first-letter {
      font-size: 40px;
    };
  };
};

.cmn-link {
  color: cl(text);
  position: relative;
  display: inline-block;
  text-decoration: none;

  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;

    &:hover {
      transform: scale(1, 1);
    }
  }
}